body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #efefef;
  font-family: cursive;
}

.nav-bar {
  background-color: rgba(51, 51, 51, 0.966);
  border: 2px solid rgba(255, 192, 203, 0.418);
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.4);
  position: fixed;
  width: 100%;
  top: 0;
}

.nav-bar .list-container {
  display: flex;
}

.nav-bar .list-item {
  list-style-type: none;
  margin: 20px;
  margin: auto;
}

.nav-bar .anchor {
  font-size: 17px;
  text-decoration: none;
  color: pink;
}

.nav-bar .anchor:hover {
  color: #fff;
}

.nav-bar .Current-logo {
  width: 10px;
  cursor: pointer;
  font-size: 13px;
  border: 2px solid pink;
  background-image: url(/src/assets/Bokomon.jpg);
  background-position: center;
  background-size: cover;
  padding: 30px;
  border-radius: 100px;
}

.nav-bar .Current-logo .logo {
  width: 30px;
  color: #fff;
  text-decoration: none;
}

img {
  width: 250px;
  height: 250px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 6px 6px 6px rgba(255, 192, 203, 0.692);
  margin: 30px;
  padding: 10px;
}

img:hover {
  transition: 2s;
  transform: translateY(20px);
}

li {
  list-style-type: none;
}

#card-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 50px;
  text-align: center;
  margin-top: 200px;
}

.btn {
  margin-bottom: 40px;
  padding: 10px;
  margin-top: 20px;
  width: 250px;
  border-radius: 5px;
  border: 2px solid #007bff83;
  font-family: cursive;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
}

.card-items {
  background-color: rgba(51, 51, 51, 0.158);
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  margin-bottom: 30px;
}

.fa-heart {
  color: #dc3545;
  cursor: pointer;
  font-size: 20px;
  width: 50px;
}

.footer-content {
  border-radius: 5px;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.4);
}

.license {
  font-size: 15px;
  padding: 20px;
  border-top: 2px solid #333;
}

.extra-content {
  background-color: #b4b4b479;
  padding: 10px;
  text-align: right;
}
